<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPU列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }

        #shpuList td {
            border-top: 1px solid #39503f61;
            width: 10px;
        }
    </style>
</head>
<body>
<div th:include="root/root_header :: header"></div>
<div class="panel panel-default" style="height:62%;background-color:rgba(222,222,222,0.8)">

    <div class="panel-heading">SPU列表</div>

    <table class="table" id="shpuList">
        <tr >
            <td>SpuID</td>
            <td>Spu编号</td>
            <td>Spu名称</td>
            <td>最低价格</td>
            <td>所属分类</td>
            <td>所属品牌</td>
        </tr>
        <tr th:each="spuDTO,spuDTOStatus : ${data}">
            <td th:text="${spuDTO.getId()}"></td>
            <td th:text="${spuDTO.getSpuNo()}"></td>
            <td th:text="${spuDTO.getGoodsName()}"></td>
            <td th:text="${spuDTO.getLowPrice()}"></td>
            <td th:text="${spuDTO.getCategoryName()}"></td>
            <td th:text="${spuDTO.getBrandName()}"></td>
        </tr>

    </table>
</div>

<div th:include="fenye :: fenye"></div>
</body>
</html>
